# Local config
.DS_Store
.vscode/*
node_modules
dist/

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Local Netlify folder
.netlify